.foot-tip
  margin-top 26px
  .tip-desc
    position relative
    font-size:13px;
    color:rgba(204,204,204,1);
    &:after
      content ''
      width 66px
      height 1px
      position: absolute;        
      top: 52%;
      right 74px
      background:rgba(238,238,238,1);
    &:before
      content ''
      width 66px
      height 1px
      position: absolute;         
      top: 52%;
      left 74px
      background:rgba(238,238,238,1);